@import url(./fonts/fonts.css);

body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Inter';
}
.header{
    background-color: black;
     

}
.header__container{
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: space-around;
    height: 48px;
    margin: 0 auto;
    display: flex;
    width: 1170px;
}
.logo__wrap{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 16px;
}
.logo__stick{
    width: 1px;
    height: 22px;
    background-color: white;
}
.header__number{
    display: flex;
    gap: 10px;
    align-items: center;
}
.header__number_text{
color: white;
}
.header__info{
    display: flex;
    gap: 10px;
    align-items: center;
}
.header__info_img{
width: 21px;
height: 24px;
}
.header__info_text{
    color: white;
    width: 374px;
   
    }